nav {
    margin: 0 auto;
    background-color: #5d4731;
    
}

ul {
    width: 100%;
    height: 30px;
    display: table;
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding: 0;
}

li {
    display: table-cell;
    position: relative;
}

a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1em;
    border-right: 1px solid;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #bd9d7c;
    line-height: 30px;
}